<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2013 deib-polimi
    Contact: deib-polimi <marco.miglierina@polimi.it>

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

           http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InitializedSQLTableServlet</display-name>
    <servlet-name>InitializedSQLTableServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.InitializedSQLTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializedSQLTableServlet</servlet-name>
    <url-pattern>/InitializedSQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>WritePostServlet</display-name>
    <servlet-name>WritePostServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.WritePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WritePostServlet</servlet-name>
    <url-pattern>/WritePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AnswerQuestionsServlet</display-name>
    <servlet-name>AnswerQuestionsServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.AnswerQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerQuestionsServlet</servlet-name>
    <url-pattern>/AnswerQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SaveAnswerServlet</display-name>
    <servlet-name>SaveAnswerServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.SaveAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAnswerServlet</servlet-name>
    <url-pattern>/SaveAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/DeleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteMessageServlet</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertQuestionsServlet</display-name>
    <servlet-name>InsertQuestionsServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.InsertQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestionsServlet</servlet-name>
    <url-pattern>/InsertQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ComputeSimilarity</display-name>
    <servlet-name>ComputeSimilarityServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.ComputeSimilarityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputeSimilarityServlet</servlet-name>
    <url-pattern>/computeSimilarity</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateAnswer</display-name>
    <servlet-name>UpdateAnswerServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.UpdateAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAnswerServlet</servlet-name>
    <url-pattern>/UpdateAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StatServlet</display-name>
    <servlet-name>StatServlet</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.StatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatServlet</servlet-name>
    <url-pattern>/Stat</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteUR</display-name>
    <servlet-name>DeleteUR</servlet-name>
    <servlet-class>it.polimi.modaclouds.cloudapp.mic.servlet.DeleteUR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUR</servlet-name>
    <url-pattern>/DeleteUR</url-pattern>
  </servlet-mapping>
  <servlet>
	<display-name>GlassfishQueueServlet</display-name>
	<servlet-name>GlassfishQueueServlet</servlet-name>
	<servlet-class>it.polimi.modaclouds.cpimlibrary.taskqueuemng.GlassfishQueueServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet che crea errore nel deploy del backend perche non viene trovata -->
	<!--  
	<servlet>
		<display-name>AmazonQueueServlet</display-name>
		<servlet-name>AmazonQueueServlet</servlet-name>
		<servlet-class>com.cloud.taskqueuemng.AmazonQueueServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  -->
  	 <!-- tag necessario per utilizzare il couchbase manager su glassfish in modo da s
	 supportare l implementazione del protocollo memcached con spymemcached	 -->
	 <!-- > <distributable/>-->
</web-app>